<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">
    <div class="field form-group">
      <%= f.label :name, :class => 'control-label' %>
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :email, :class => 'control-label' %>
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :questions, :class => 'control-label' %>
      <%= f.text_area :questions, :class => 'form-control' %>
    </div>
    <div class="actions form-group">
      <%= f.submit 'Send Message', :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
